body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #660000;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  font-family: "Assistant", sans-serif;
}

.buttonText {
  color: white;
}

.blackBar.bottom {
  top: 360px;
}

.blackBar {
  width: 600px;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

h1 {
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  font-size: 100px;
  /* collapse letter spacing and stretching font to make it look more like marvel font*/
  letter-spacing: -6px;
  opacity: 0;
  transition: transform 7s ease-out, opacity 3s ease-in;
  transform: scale(1.3, 1.8);
}

.buttonContainer {
  width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

button {
  width: 50%;
  background-color: red;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.logoSubtitle {
  margin: 0 auto;
  transition: height 2s linear;
  overflow: hidden;
  height: 0px;
  width: 300px;
  padding: 0;
  text-align: center;
  padding-left: 30px;
  padding-top: 8px;
  margin-top: -60px;
}

.borderAndHeight {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 30px;
}

.subtitle-text {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  letter-spacing: 30px;
  transform: scale(1, 0.8);
}

.overlay {
  position: absolute;
  zIndex: 233;
  background: #990e0e;
  width: 95vw;
  height: 400px;
  top: 10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 600px;
}

.logoOverlay {
  position: absolute;
  zIndex: 233;
  background: rgba(153, 14, 14, 0);
  width: 95vw;
  height: 400px;
  top: 10px;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 600px;
}

.container {
  margin: 0 auto;
  background-color: black;
  width: 95vw;
  overflow: hidden;
  height: 400px;
  max-width: 600px;
}

.imageContainer {
  zIndex: 1;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  height: 400px;
  width: 90vw;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: top 0.2s ease-out;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: -400px;
  max-width: 600px;
}

.scaleImage {
  background-size: 190%;
}

.scaleLogo {
  transform: scale(1, 1.5);
  opacity: 1;
}

.fade {
  animation: fade 8s;
  animation-fill-mode: forwards;
}

.fadeInLogo {
  animation: fadeInLogo 5s;
  animation-fill-mode: forwards;
  /** stops animation from resetting**/
}

.blur {
  animation: blur 500ms;
}

.opacityFadeInit {
  animation: opacityFade 1.2s;
}

.opacityFade {
  animation: opacityFade 0.4s;
}

@keyframes blur {
  0% {
    -webkit-filter: blur(20px);
  }
  25% {
    -webkit-filter: blur(15px);
  }
  50% {
    -webkit-filter: blur(10px);
  }
  75% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
@keyframes fade {
  0% {
    background-color: #990e0e;
  }
  25% {
    background-color: rgba(153, 14, 14, 0.7);
  }
  50% {
    background-color: rgba(153, 14, 14, 0.7);
  }
  75% {
    background-color: rgba(153, 14, 14, 0.4);
  }
  100% {
    background-color: rgba(153, 14, 14, 0);
  }
}
@keyframes fadeInLogo {
  from {
    background-color: rgba(153, 14, 14, 0);
  }
  to {
    background-color: rgba(153, 14, 14, 0.9);
  }
}
@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}