ol {
    margin: 0;
    padding: 0
}

sup {
    font-size: 0.85em;
    vertical-align: super;
  }

a {
    color: #a8a8e0;
    text-decoration: none;
    cursor: pointer !important;
}

a:hover {
    text-decoration: underline;
  }

  h1 {
    font-family: 'Merriweather', serif;
    font-size: 2.5em !important;
    margin-bottom: 20px;
    text-align: center;
    color: #222;
  }

html {
    filter: url(#grain);
}

  body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia', serif;
    background: #19191d;
    color: #333;
    line-height: 1.6;
  }

  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #19191d;
    filter: url(#grain);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  p, p > span {
    margin-bottom: 1em;
    text-align: justify;
    font-size: 14px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    color: rgb(222, 222, 222) !important;
  }

  p{
    text-indent: 50px;
  }
table td,table th {
    padding: 0
}

.c2 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c20 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt
}

.c4 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Arial";
    font-style: normal
}

.c25 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: center
}

.c5 {
    padding-top: 0pt;
    text-indent: 36pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: normal
}

.c8 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.c23 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: justify
}

.c27 {
    color: #000000;
    font-weight: 400;
    font-size: 11pt;
    font-family: "Arial"
}

.c11 {
    font-size: 12pt;
    font-family: "Times New Roman";
    color: #0e101a;
    font-weight: 400
}

.c0 {
    font-size: 10pt;
    font-family: "Times New Roman";
    font-style: italic;
    font-weight: 400
}

.c3 {
    vertical-align: super;
    font-size: 12pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c22 {
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
    text-decoration-skip-ink: none
}

.c24 {
    background-color: #ffffff;
    font-size: 10.5pt;
    font-family: "Times New Roman";
    font-weight: 400
}

.c13 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c12 {
    font-size: 12pt;
    font-weight: 400;
    font-family: "Times New Roman"
}

.c16 {
    font-size: 28pt;
    font-weight: 400;
    font-family: "Times New Roman"
}

.c10 {
    color: #000000;
    text-decoration: none;
    font-style: normal
}

.c7 {
    font-size: 10pt;
    font-weight: 400;
    font-family: "Times New Roman"
}

.c18 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt
}

.c26 {
    background-color: #19191d;
    color: white
}

.c9 {
    color: inherit;
    text-decoration: inherit
}

.c19 {
    width: 33%;
    height: 1px
}

.c28 {
    color: #202122
}

.c14 {
    font-size: 10pt
}

.c21 {
    height: 11pt
}

.c17 {
    font-style: italic
}

.c15 {
    vertical-align: super
}

.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}